{% extends 'base.html.twig' %}

{% block title %}Hello RoofController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="main-content">
            <div class="calculator">
                <div class="params styled">
                    <div class="switcher">
                        <div class="select_menu">
                            <div class="row">
                                <label class="header" for="primer">Форма крыши</label>
                                <select class="col-12" id="primer" onChange="MaterialChange()">
                                    <option value="roof1">Односкатная</option>
                                    <option value="roof2">Двускатная</option>
                                    <option value="roof3">Шатровая</option>
                                    <option value="roof4">Вальмовая</option>
                                    <option value="roof5">Полувальмовая</option>
                                    <option value="roof6">Мансардная</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row types-select">
                        {{ form_start(form) }}

                        {{ form_row(form.coating) }}
                        {{ form_row(form.materialType) }}

                        <button type="submit" class="btn btn-primary" formnovalidate>Send</button>
                        {{ form_end(form) }}
                    </div>

                    <div class="main">
                        <div id="roof1" style="display: none">
                            <div class="row">
                                <label>
                                    <span class="label">L,м</span><br>
                                    <input class="col-12" name="pole1" type="text" id="val_p1" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H,м</span><br>
                                    <input class="col-12" name="pole2" type="text" id="val_p2" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <p class="aligncenter">
                                        <img src="/images/od.jpg" alt="">
                                    </p>
                                </label>
                            </div>
                        </div>

                        <div id="roof2" style="display: none">
                            <div class="row">
                                <label>
                                    <span class="label">L,м</span><br>
                                    <input class="col-12" type="text" id="val_p1" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H1,м</span><br>
                                    <input class="col-12" type="text" id="val_p2" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H2,м</span><br>
                                    <input class="col-12" type="text" id="val_p3" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <p class="aligncenter">
                                        <img src="/images/dv.jpg" alt="">
                                    </p>
                                </label>
                            </div>
                        </div>

                        <div id="roof3" style="display: none">
                            <div class="row">
                                <label>
                                    <span class="label">A1,м</span><br>
                                    <input class="col-12" type="text" id="val_p1" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">A2,м</span><br>
                                    <input class="col-12" type="text" id="val_p2" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">C,м</span><br>
                                    <input class="col-12" type="text" id="val_p3" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <p class="aligncenter">
                                        <img src="/images/shtr.jpg" alt="">
                                    </p>
                                </label>
                            </div>
                        </div>

                        <div id="roof4" style="display: none">
                            <div class="row">
                                <label>
                                    <span class="label">L,м</span><br>
                                    <input class="col-12" type="text" id="val_p1" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">C,м</span><br>
                                    <input class="col-12" type="text" id="val_p2" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">A1,м</span><br>
                                    <input class="col-12" type="text" id="val_p3" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">A2,м</span><br>
                                    <input class="col-12" type="text" id="val_p4" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <p class="aligncenter">
                                        <img src="/images/forsk.jpg" alt="">
                                    </p>
                                </label>
                            </div>
                        </div>

                        <div id="roof5" style="display: none">
                            <div class="row">
                                <label>
                                    <span class="label">L,м</span><br>
                                    <input class="col-12" type="text" id="val_p1" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H1,м</span><br>
                                    <input class="col-12" type="text" id="val_p2" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H2,м</span><br>
                                    <input class="col-12" type="text" id="val_p3" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H3,м</span><br>
                                    <input class="col-12" type="text" id="val_p4" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H4,м</span><br>
                                    <input class="col-12" type="text" id="val_p5" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <p class="aligncenter">
                                        <img src="/images/plv.jpg" alt="">
                                    </p>
                                </label>
                            </div>
                        </div>

                        <div id="roof6" style="display: none">
                            <div class="row">
                                <label>
                                    <span class="label">L,м</span><br>
                                    <input class="col-12" type="text" id="val_p1" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">C,м</span><br>
                                    <input class="col-12" type="text" id="val_p2" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H1,м</span><br>
                                    <input class="col-12" type="text" id="val_p3" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">H2,м</span><br>
                                    <input class="col-12" type="text" id="val_p4" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">A1,м</span><br>
                                    <input class="col-12" type="text" id="val_p5" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <span class="label">A2,м</span><br>
                                    <input class="col-12" type="text" id="val_p6" value="0">
                                </label>
                            </div>
                            <div class="row">
                                <label>
                                    <p class="aligncenter">
                                        <img src="/images/mnsdr.jpg" alt="">
                                    </p>
                                </label>
                            </div>
                        </div>

                        <div id="address">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     <script>
         document.addEventListener('DOMContentLoaded', function() {
             const countrySelectEl = document.getElementById('roof_coating');


             countrySelectEl.addEventListener('change', function(e) {
                 const formEl = countrySelectEl.closest('form');

                 fetch(formEl.action, {
                     method: formEl.method,
                     body: new FormData(formEl)
                 })
                     .then(response => response.text())
                     .then(html => {
                         const parser = new DOMParser();
                         const doc = parser.parseFromString(html, 'text/html');
                         const newCityFormFieldEl = doc.getElementById('roof_materialType');

                         newCityFormFieldEl.addEventListener('change', function(e) {
                             e.target.classList.remove('is-invalid');
                         });

                         document.getElementById('roof_materialType').replaceWith(newCityFormFieldEl);
                     })
                     .catch(function (err) {
                         console.warn('Something went wrong.', err);
                     });
             });
         });
     </script>
 {% endblock %}
